<section class="accordion">
  <div class="accordion__item accordion__item1">
    <h2 class="accordion__title">Агротехника</h2>
    <div class="accordion--open">
      <h3 class="accordion__title--open">Агротехника</h3>
      <h4 class="accordion__subtitle">Цели и предполагаемые задачи внедрения:</h4>
      <ul class="accordion__text">
      	<li class="accordion__text-item">Контроль местоположения и состояния автомобиля в 
      Украине и за ее пределами</li>
      	<li class="accordion__text-item">Контроль расхода топлива</li>
      	<li class="accordion__text-item">Контроль режимов работы</li>
      </ul>
      <h4 class="accordion__subtitle">Получаемый результат от предлагаемого решения:</h4>
      <ul class="accordion__text">
      	<li class="accordion__text-item"> Контроль местоположения автомобиля в реальном 
      времени по всему миру</li>
      	<li class="accordion__text-item">Контроль уровня и расхода топлива</li>
    </ul>
   </div>
  </div>
  <div class="accordion__item accordion__item2">
    <h2 class="accordion__title">Легковой транспорт</h2>
    <div class="accordion--open">
      <h3 class="accordion__title--open">Легковой транспорт</h3>
      <h4 class="accordion__subtitle">Цели и предполагаемые задачи внедрения:</h4>
      <ul class="accordion__text">
      	<li class="accordion__text-item">Контроль местоположения и состояния автомобиля в 
      Украине и за ее пределами</li>
      	<li class="accordion__text-item">Контроль расхода топлива</li>
      	<li class="accordion__text-item">Контроль режимов работы</li>
      </ul>
      <h4 class="accordion__subtitle">Получаемый результат от предлагаемого решения:</h4>
      <ul class="accordion__text">
      	<li class="accordion__text-item"> Контроль местоположения автомобиля в реальном 
      времени по всему миру</li>
      	<li class="accordion__text-item">Контроль уровня и расхода топлива</li>
    </ul>
   </div>
  </div>

  <div class="accordion__item accordion__item3 accordion__item--open">
    <h2 class="accordion__title">Грузоперевозки</h2>
    <div class="accordion--open">
      <h3 class="accordion__title--open">Грузоперевозки</h3>
      <h4 class="accordion__subtitle">Цели и предполагаемые задачи внедрения:</h4>
      <ul class="accordion__text">
      	<li class="accordion__text-item">Контроль местоположения и состояния автомобиля в 
      Украине и за ее пределами</li>
      	<li class="accordion__text-item">Контроль расхода топлива</li>
      	<li class="accordion__text-item">Контроль режимов работы</li>
      </ul>
      <h4 class="accordion__subtitle">Получаемый результат от предлагаемого решения:</h4>
      <ul class="accordion__text">
      	<li class="accordion__text-item"> Контроль местоположения автомобиля в реальном 
      времени по всему миру</li>
      	<li class="accordion__text-item">Контроль уровня и расхода топлива</li>
    </ul>
   </div>
  </div>

  <div class="accordion__item accordion__item4">
    <h2 class="accordion__title">Спецтехника</h2>
    <div class="accordion--open">
      <h3 class="accordion__title--open">Спецтехника</h3>
      <h4 class="accordion__subtitle">Цели и предполагаемые задачи внедрения:</h4>
      <ul class="accordion__text">
      	<li class="accordion__text-item">Контроль местоположения и состояния автомобиля в 
      Украине и за ее пределами</li>
      	<li class="accordion__text-item">Контроль расхода топлива</li>
      	<li class="accordion__text-item">Контроль режимов работы</li>
      </ul>
      <h4 class="accordion__subtitle">Получаемый результат от предлагаемого решения:</h4>
      <ul class="accordion__text">
      	<li class="accordion__text-item"> Контроль местоположения автомобиля в реальном 
      времени по всему миру</li>
      	<li class="accordion__text-item">Контроль уровня и расхода топлива</li>
    </ul>
   </div>
  </div>
  <div class="accordion__item accordion__item5">
    <h2 class="accordion__title">ЖД транспорт</h2>
    <div class="accordion--open">
      <h3 class="accordion__title--open">ЖД транспорт</h3>
      <h4 class="accordion__subtitle">Цели и предполагаемые задачи внедрения:</h4>
      <ul class="accordion__text">
      	<li class="accordion__text-item">Контроль местоположения и состояния автомобиля в 
      Украине и за ее пределами</li>
      	<li class="accordion__text-item">Контроль расхода топлива</li>
      	<li class="accordion__text-item">Контроль режимов работы</li>
      </ul>
      <h4 class="accordion__subtitle">Получаемый результат от предлагаемого решения:</h4>
      <ul class="accordion__text">
      	<li class="accordion__text-item"> Контроль местоположения автомобиля в реальном 
      времени по всему миру</li>
      	<li class="accordion__text-item">Контроль уровня и расхода топлива</li>
    </ul>
   </div>
  </div>
</section>
