<section class="clients">
	<div class="container">
		<div class="clients__inner">
			<div class="clients__review">
				<h2 class="clients__title">Отзывы наших клиентов</h2>
				<p class="clients__text">Сотрудничество с нашей Компанией поможет <span class="clients__text--weight">снизить затраты на 5-25% общего</span> годового бюджета затрат на автотранспорт.</p>
				<button type="button" class="clients__button">Читать все отзывы</button>
			</div>
			<div class="clients__icons">
				<figure class="clients__img">
					<img src="img/icons/icon1.png" alt="">
				</figure>
				<figure class="clients__img">
					<img src="img/icons/icon2.png" alt="">
				</figure>
				<figure class="clients__img">
					<img src="img/icons/icon3.png" alt="">
				</figure>
				<figure class="clients__img">
					<img src="img/icons/icon4.png" alt="">
				</figure>
				<figure class="clients__img">
					<img src="img/icons/icon5.png" alt="">
				</figure>
				<figure class="clients__img">
					<img src="img/icons/icon6.png" alt="">
				</figure>
				<figure class="clients__img">
					<img src="img/icons/icon7.png" alt="">
				</figure>
				<figure class="clients__img">
					<img src="img/icons/icon8.png" alt="">
				</figure>
				<figure class="clients__img">
					<img src="img/icons/icon9.png" alt="">
				</figure>
			</div>
		</div>	
	</div>
</section>
